h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20;

}

.h1Tag {
    margin-top: 30px;
    margin-bottom: 50px;
}

#date {
    color: #1E8188;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.container {
text-align: center;
}

.activityWrapper {
    width: 55rem;
    height: 35rem;
    margin-top: 50;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border: 1.8px solid #1E8188;
    margin-left: auto;
    margin-right: auto;
}

.activities {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #1E8188;
    margin: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1E8188;

}

.activities p {
    margin-top: 9rem;
    color: white;
}

.pWrapper p {
    display: block;
    text-align: center;

}


.addButton {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #1E8188;
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border:#1E8188 1px solid;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 55rem;
    background-color: #1E8188;
    margin-left: auto;
    margin-right: auto;
}

.addNote {
    margin-top: 2rem;
}

.addNote p {
    color: white;
    display: inline-block;
    margin-right: 10px;
}

.addNote textarea {
    background-color: #1E8188;
    border-radius: 8px;
    width: 35rem;
    height: 2rem;
    padding: 0.5rem;
    margin-left: 5rem;

}

.photo {
    margin-top: 2rem;
}

.photo p {
    color: white;
    display: inline-block;
    margin-right: 10px;
}

.photo button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #03A9F4;
    background-color: #0e0e0e;
    margin-left: 38rem;
    color:  #03A9F4;
    text-align: center;
    vertical-align: middle;

}

#save {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #1E8188;
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border:#1E8188 1px solid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    color: white;
    font-weight: bold;
   
    
}

#add {
    margin: 40%;
    color: white;
    
}

#continue {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #1E8188;
    margin: 1.5rem;
    float: right;
    text-align: center;
    border:#1E8188 1px solid;
    color: white;
    font-weight: bold;
   
    
}

.photo button {
    color: 
}